# ======================================
# Cluster discovery
# ======================================

# Static Clustering
# 
# ETCD_INITIAL_CLUSTER=etcd-1=http://etcd-1:2380,etcd-2=http://etcd-2:2380,etcd-3=http://etcd-3:2380

# Discovery using etcd discovery service
# 
# ETCD_DISCOVERY=https://discovery.etcd.io/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx


# ======================================
# Cluster configuration
# ======================================

# Initial cluster state ('new' or 'existing').
ETCD_INITIAL_CLUSTER_STATE=new

# Initial cluster token for the etcd cluster during bootstrap.
# Specifying this can protect you from unintended cross-cluster interaction when running multiple clusters.
ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster


# ======================================
# Discovery server configuration
# ======================================
DISC_ETCD=http://etcd:2379
DISC_HOST=http://localhost:8087
DISC_MINAGE=12h
