x-deploy: &x-default-deploy
  replicas: ${ETCD_REPLICAS:-3}
  placement:
    max_replicas_per_node: 1
    constraints:
      - node.role == manager
    preferences:
      - spread: node.labels.etcd
  restart_policy:
    condition: on-failure
    delay: 5s
    max_attempts: 3
    window: 120s
  rollback_config:
    parallelism: 1
    delay: 5s
    failure_action: pause
    monitor: 60s
    max_failure_ratio: 0.3
  update_config:
    parallelism: 1
    delay: 5s
    failure_action: rollback
    monitor: 60s
    max_failure_ratio: 0.3
    order: stop-first
  resources:
    limits:
      cpus: '0.50'
      memory: 512M
    reservations:
      cpus: '0.25'
      memory: 256M

x-logging: &x-default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  etcd:
    image: quay.io/coreos/etcd:v3.5.9
    hostname: etcd-{{.Task.Slot}}
    env_file: .env
    environment:
      - ETCD_NAME=etcd-{{.Task.Slot}}
      - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://etcd-{{.Task.Slot}}:2380
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd-{{.Task.Slot}}:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
      - ETCD_DATA_DIR=/etcd-data
    ports:
      - 2379:2379
    networks:
      - etcd_area_internal
      - etcd_area_lan
    volumes:
      - etcd-data:/etcd-data
    healthcheck:
      test: ["CMD", "etcdctl", "endpoint", "health"]
      interval: 15s
      timeout: 5s
      retries: 3
      start_period: 10s
    deploy: *x-default-deploy
    logging: *x-default-logging

networks:
  etcd_area_internal:

  etcd_area_lan:
    name: etcd_area_lan
    external: true

volumes:
  etcd-data:
